<header>
  <nav>
     <div class="links">
      <ul>
        <li>
          <a class="header-link" href="./">Home</a>
        </li> 
        {{#if loggedIn}}
        <li>
          <a class="header-link" href="./new">New Snippet</a>
        </li>
        <li>
          <a class="header-link" href="./logout">Log out</a>
        </li>
        {{else}}
        <li>
          <a class="header-link"href="./login">Log in</a>
        </li>
         <li>
          <a class="header-link"href="./signup">Sign up</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>