<header>
  <nav>
     <div>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
         <li>
          <a href="/signup">Sign Up</a>
        </li>
        <li>
          <a href="/new">New</a>
        </li>
        <li>
          <a href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
</header>