<h1>
   Update
</h1>

<form method="post" action="./update">
  <input type="hidden" name="id" value="{{viewData.id}}" />
  <div>
    <textarea cols="40" rows="5" name="value"  placeholder="Snippet" autofocus="autofocus" required="required" >{{viewData.value}}</textarea>
  </div>
  <button type="submit">Update Task</button>
</form>
