<h2>
   Edit
</h2>
<form method="post" action="./{{viewData.id}}/update">
  <input type="hidden" name="id" value="{{viewData.id}}" />
  <div>
    <textarea class="snippets-input" name="value"  placeholder="Snippet" autofocus="autofocus" required="required" >{{viewData.value}}</textarea>
  </div>
  <button type="submit">Update Snippet</button>
</form>
