<h1>
  CRUD Snippets application
</h1>

<table>
    <thead>
        <tr>
            <th>Snippet</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#if viewData.snippets}}
        {{#each viewData.snippets}}
        <tr>
            <td><textarea name="value" class="view-snippet" readonly>{{this.value}}</textarea></td>
            <td>
                <a href="./{{this.id}}/edit"><span>Update</span></a>
                <a href="./{{this.id}}/remove"><span>Delete</span></a>
            </td>
        </tr>
        {{/each}}
        {{/if}}
    </tbody>
</table>
