<h1>
  CRUD Snippets application
</h1>

<table>
  <caption>Snippets</caption>
  <tbody>
    {{#if viewData.snippets}}
    {{#each viewData.snippets}}
    <tr>
      <td>{{this.value}}</td>
    </tr>
    {{/each}}
  {{/if}}
  </tbody>
</table>