Sign in

<div class="login">
<form action="/login" method="post">
Username: <input type="text" name="username" required="required">
Password: <input type="password" name="password" required="required">
<button type="submit">Sign in</button>
</form>
</div>


Sign up

<div class="signup">
<form action="/signup" method="post">
Username: <input type="text" name="username" required="required">
Password: <input type="password" name="password" required="required">
<button type="submit">Sign up</button>
</form>
</div>