<h1>New Snippet</h1>

<form method="post" action="/create">
  <div>
    <textarea id="snippets-input" name="value" value="{{value}}" placeholder="Write your code here" required="required"/></textarea>
  </div>
  <button type="submit">Create Snippet</button>
</form>