<h1>New Snippet</h1>

<form method="post" action="/create">
  <div>
    <textarea type="number" name="value" value="{{value}}" placeholder="Write your code here" required="required"/>
  </div>
  <button type="submit">Create Snippet</button>
</form>