<h1>New Snippet</h1>

<form method="post" action="./create">
  <div>
    <textarea class="snippets-input" name="value" value="{{value}}" required="required"/></textarea>
  </div>
  <button type="submit">Create Snippet</button>
</form>