<h1>Remove snippet</h1>

<form method="post" action="./delete">
<input type="hidden" name="id" value="{{viewData.id}}" />
<textarea name="value" class="view-snippet" readonly>{{viewData.value}}</textarea>
  <button type="submit" autofocus="autofocus">Remove Snippet</button>
</form>