<h1>Remove snippet</h1>

<p>{{viewData.value}}</p>
<form method="post" action="./delete">
<input type="hidden" name="id" value="{{viewData.id}}" />
  <button type="submit" autofocus="autofocus">Remove Snippet</button>
</form>