Sign up

<div class="signup">
<form action="/signup" method="post">
Username: <input type="text" name="username" required="required">
Password: <input type="password" name="password" required="required" minlength="6">
<button type="submit">Sign up</button>
</form>
</div>