Sign up

<div class="register">
<form action="/register" method="post">
Username: <input type="text" name="username" value="{{username}}" required="required">
Password: <input type="password" name="password" value="{{password}}" required="required" minlength="8">
<button type="submit">Sign up</button>
</form>
</div>