<div class="login">
<h2>Sign up</h2>
<form action="/register" method="post" class="auth">
  <p>Username</p>
  <input class="auth-input" type="text" name="username" value="{{username}}" required="required" autocomplete="off"><br>
  <p>Password</p> 
  <input class="auth-input" type="password" name="password" value="{{password}}" required="required" minlength="8"><br>
  <button class="btn" type="submit">Sign up</button>
</form>
</div>